# URL to connect to the backend web services
API_URL="http://localhost:8000/"

# Basic frontend settings
TITLE=""
WEBSITE_URL=""
PROJECT_NAME=""

# Google Analytics ID
TRACKING_ID=

# Default language
DEFAULT_LOCALE="es"